* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
h1 {
    text-align: left;
}

.accordion {
    max-width: 100%;
    margin: 2rem auto;
}

.accordion-item {
    border-radius: 50;
    box-shadow: 2px 2px 2px #aaaaaa;
}

.accordion-title-row {
    width: 75%;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 1.2em;
}

.accordion-company {
    width: 20%;
    text-align: right;
}

.accordion-control {
    width: 5%;
    text-align: center;
}

.accordion-content {
    border-top: 0.3px solid #aaaaaa;
}

.accordion-title:hover {
    background-color: #dddddd;
}

.accordion-title:active {
    background-color: #dddddd;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
}

@media screen and (max-width: 700px) {
body {
    font-size: 18px;
}

.accordion {
    width: 90%;
}
}