* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
h1 {
    text-align: left;
    margin-left: 10%;
}

.accordion {
    max-width: 80%;
    margin: 2rem auto;
}

.accordion-item {
    border-radius: 50;
    border: 20px;
    border-color: black;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.5em;

}

.accordion-title:hover {
    background-color: #dddddd;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
    border: 2px;
    border-color: black;
}

@media screen and (max-width: 700px) {
body {
    font-size: 18px;
}

.accordion {
    width: 90%;
}
}