:root {
  --light-color: white;
  --medium-color: #6D9775;
  --dark-color: #104730;
}

body {
  background-color: #eceaea;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins';
}

/* Header */
header {
  color: white;
  background: var(--dark-color);
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  display: flex;
}

nav {
  justify-content: space-between;
  display: flex;
}

.navbar-item {
  color: #ffffff;
  
}

a {
  text-decoration: none;
}

/* Main */
.main-container {
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

/* About me */


/* Experience list */
.accordion-content {
  background-color: #f1eeee;
}

/* Projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.project-card {
  background: whitesmoke;
  padding: 10px;
  border: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.project-card h3 {
  font-size: 30px;
  padding: 20px;
}

.project-examples {
  max-height: 200px;
}

/* Footer */
footer {
  color: white;
  background: var(--dark-color);
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  text-align: center;
}

