:root {
  --light-color: white;
  --medium-color: #6D9775;
  --dark-color: #104730;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

/* Header */
header {
  color: white;
  background: var(--dark-color);
  width: 100%;
  padding: 20px;
}

nav {
  justify-content: space-between;
  text-decoration: none;
}

/* Main */
.main-container {
  padding-top: 10px;
}

/* About me */
.about-me-content {
  margin-left: 10%;
  margin-right: 10%;
}

/* Experience list */
.accordion-content {
  background-color: #f1eeee;
}

/* Projects */
.project-container {
  margin-left: 10%;
}

.project-card {
  background: whitesmoke;
  padding: 80px;
  border: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #aaaaaa;
  min-width: 40%;
}

.project-card h3 {
  background-image: linear-gradient(to right, var(--dark-color), var(--medium-color));
  color: white;
  padding: 20px;
}

/* Actions on project cards */
/* .project-card:hover {
  border-left: 10px solid;
  border-color: var(--medium-color);
}

.project-card:active {
  border-left: 10px solid;
  border-color: var(--dark-color);
}

.project-card:focus {
  border-left: 10px solid;
  border-color: white;
} */

/* Footer */
footer {
  color: white;
  background: var(--dark-color);
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  text-align: center;
}

